
/* sets the background color to linear gradient bertween two shades light bliue per the target graphic */
body {
    background: linear-gradient(to left top, rgb(29, 187, 250), rgb(173, 236, 238)) fixed;
  }

/* floats the image to the left of the header, sizes it */

.header img {
    float: left;
    width: 340px;
    height: 230px;
    
  }
  /* positions the title relative to the floated logo, sizes it*/
  .header h1 {
    position: relative;
    top: 80px;
    left: 10px;
  }

  /* table formatting, collapses te borders to a solid line, adds a different color gradient per the target graphic*/
table {
    border-collapse: collapse;
    background-image: linear-gradient(#d7f0fd, #59c3f8);
}
/*  left justifies text */
table th {

    text-align: left;
}
/* defines the width and color of the cell borders, adds some room around the text top, right, bottom, and left in that order*/
table td {

    
    border: 2px solid #1a1a1a;
    padding: 3px 256px 3px 4px
    
